#body {
    background-image: url(./assets/mainPage.png);
    background-size: 100vw 100vh;
    margin: 0; 
    height: 100%; 
    overflow: hidden;
}

#startBtn {
    background: transparent;
    visibility: hidden;
    border: none !important;
    font-size:0;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    top: 88vh;
    left: 65vw;
}

#startBtn:hover { 
    top: 88.6vh;
}

#goBtn {
    background: transparent;
    border: none !important;
    font-size:0;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    top: 88vh;
    left: 65vw;
}

#goBtn:hover { 
    top: 88.6vh;
}

#startOverBtn {
    visibility: visible;
    position: absolute;
    left: 10vw;
    bottom: 20vh;
    border: none !important;
    font-size:0;
    cursor: pointer;
    z-index: 10;
}

